<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="File" fileName="./src/test/java/Log/logging.log" filepattern="./src/test/java/Log/logging-%d{yyyy-MM-dd HH:mm:ss.SSS}" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
            <SizeBasedTriggeringPolicy size="500" />
            </File>
    </Appenders>
    <Loggers>
    	<Logger name="MINTUI.Automation" level="info" additivity="false">
    		<AppenderRef ref="File" />
    	</Logger>
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>